node_modules
.DS_Store
dist
coverage
.env
.env.local


# FOLDERS

/Archive/
/backups/
/AAA-Collection/
/AAA/
/Games/
/Testnet-Version/
/Twitter-Growth/
/Agent-27/
/Pitch-Video/
/qwen3_voice_previews/


*.mp3

# Ignore recursive apps generated/local work
xtrata-1.0/recursive-apps/
